body {
    animation: changeColor 25s forwards !important;
}

section {
    animation: changeColor 25s forwards !important;
}

a, li, h1, h2, h3, h4, h5, h6, p, label {
    animation: blinkText 0.15s infinite alternate, jerkyText 0.6s infinite;
}

@keyframes changeColor {
    to {
        background: #ff0000;
    }
}

@keyframes blinkText {
    from {
        color: #000000;
    }
    to {
        color: #ffffff;
    }
}

@keyframes jerkyText {
    from {
        font-size: 12px;
    }
    to {
        font-size: 14px;
    }
}
